$dark: #160F29;
$light: #E6E6E6;
$teal-dark: #246A73;
$teal-light: #368F8B;
$beige-light: #F3DFC1;
$beige-dark: #DDBEA8;

body {
    margin: 0;
    font-family: sans-serif;
}

#__next {
    display: block;
}
